

server {
    listen ${NGINX_PORT};
    # server_name localhost;
    server_name ${NGINX_SERVER_NAME};

    
    # These two redirect lines are necessary as /site1 implies a file rather than a directory, resutling in /css/style.css file not loading
    location =/site1 {
        return 301 https://$host/site1/;
        }
    location =/site2 {
        return 301 https://$host/site2/;
    }
    
    location /site1/ {
        proxy_pass https://site1/;
    }
    location /site2/ {
        proxy_pass https://site2/;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/lego;
    }
}

server  {
    listen 443 ssl;
    ssl_certificate /etc/lego/certificates/35.240.190.73.crt;
    ssl_certificate_key /etc/lego/certificates/35.240.190.73.key;

    server_name ${NGINX_SERVER_NAME};

    location /site1/ {
        proxy_pass https://site1/;
    }
    
    location /site2/ {
        proxy_pass https://site2/;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/lego;
    }
}
